<?xml version="1.0"?>
<launch>
    
    <!-- arguments -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <!-- load robot description from xacro file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm.urdf.xacro"/>

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot -param robot_description -J joint1 0.0 -J joint2 0 -J joint3 0.0 -J joint4 0.0 -J joint5 0.0 -J joint6 0 -J joint7 0.0" />


    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-file $(find franka_description)/robots/ball.urdf -urdf -model ball" />


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" >
    </node>

    <!-- visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find franka_description)/launch/sim.rviz" />

</launch>
